.community {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  position: relative;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

.community-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.card p {
  font-size: 14px;
  margin: 10px 0;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button-container button {
  background-color: transparent;
  padding: 10px;
  border-color: orange;
}
