.join-program {
  position: relative;

  text-align: center;
  height: 50vh;
}

.join-program-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  filter: brightness(0.3);
}

.join-program-content {
  padding: 20px;
}
.join-program-content h2 {
  color: white;
}

.p {
  color: white;
}

.join-program-content button {
  border-radius: 10px;
  background-color: #55c2d8;
  color: white;
  padding: 7px;
  border: none;
}

.join-program-content input {
  background-color: #ffffff26;
  border: none;
  color: white;
  outline: none;
  height: 25px;
  margin-right: 10px;
  width: 200px;
}
